---
const today = new Date();
---

<footer>
	<p>&copy; {today.getFullYear()} Alok Gupta. Crafted with ❤️.</p>
</footer>

<style>
	footer {
		text-align: center;
		padding-bottom: 2rem;
	}
	p {
		color: var(--text-faint);
		font-size: 0.8rem;
		margin: 0;
	}
</style>
